<div class="flex align-center" style="height: 10%; width: 100%; justify-content: flex-end">
    {{#unless hideProfile}}
        <a class="header-link" href="/profile/edit">Edit profile</a>
    {{/unless}}
    {{#unless hideSignature}}
        {{#if hasSigned}}
            <a class="header-link" href="/thanks">See your signature</a>
        {{else}}
            <a class="header-link" href="/petition">Sign petition</a>
        {{/if}}   
    {{/unless}}
    <a class="header-link" href="/logout">Log out</a>
</div>