<div class="flex align-center" style="height: 10%; width: 100%; justify-content: flex-end">
    {{#unless hideProfile}}
        <a class="header-link" href="/profile">Edit profile</a>
    {{/unless}}
    {{#unless hideSignature}}
        <a class="header-link" href="/profile">See your signature</a>
    {{/unless}}
    <a class="header-link" href="#">Log out</a>
</div>