<div class="flex flex-column align-center main-petition-container" style="height: 100vh">
    {{> header-links hideSignature=true}}
    <div class="flex align-center justify-evenly" style="height: 85%; width: 100%">
        <div class="flex flex-column align-center justify-evenly text-carmine opacity-bg-goldenrod facts-container">
                <h2>Why is disaggregating data by sex so important?</h2>
                <h3 style="max-width: 325px">The lack of sex-disaggregated data affects our ability to give women sound medical advice. Here are some facts:</h3>
                <div class="facts-list" style="width: 80%">
                    <ul>
                        <li>Autoimmune diseases affect about 8% of the population, but women are three times more likely to develop one, making up about 80% of those affected.</li>
                        <li>Responses to vaccines are sex-specific: women develop higher antibody response and have more frequent and severe adverse reactions to vaccines.</li>
                        <li>Women are 70% more likely to suffer depression than men, but animal studies on brain disorders are five times as likely to done on male animals.</li>
                        <li>For women, the blood-pressure drugs (developed using male subjects) don't work as effectively.</li>
                        <li>The female gender is accosiated with an increased risk of acute complications during primary pacemaker implantation. In 2013, a supposedly revolutionary artificial heart was developed that was too big for women.</li>
                    </ul>
                </div>
                <p><em>Source: <a target="_blank" href="https://carolinecriadoperez.com/book/invisible-women/" style="color: #a44a3f">Invisible Women, Caroline Criado Perez</a></em></p>
        </div>
        <div class="flex flex-column align-center justify-center opacity-bg-carmine petition-container"> 
            <h2 style="text-align: center">Sign the petition</h2>
            <form method="POST" autocomplete="off">
                <div class="flex flex-column align-center justify-evenly petition-form-container">
                    {{#if error}}
                        <p class="error">{{error}}</p>
                    {{/if}}
                    <input type="hidden" name="signature" id="signature" required>
                    <div class="canvas-container">
                        <p style="font-size: 20px"><em>Sign here</em></p>
                        <canvas height="50px" width="300px" style="border: 1px dotted"></canvas>
                    </div>
                    <button type="submit">Submit</button>
                </div>
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
            </form>
        </div>
    </div>  
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="script.js"></script>
