<div class="main-petition-container">
    <div class="petition-container"> 
        <h1>Sign my petition</h1>
        <h2>to oblige medical trials to disaggregate their data by sex and to include at least 50% of female participants thereby starting solving the problem of the default male norm.</h2>
        <form method="POST" autocomplete="off">
            <div class="form-container">
                {{#if error}}
                    <p><em>Something went wrong. Please, try again.</em></p>
                {{/if}}
                <div class="inputs">
                    <div class="input-container">
                        <label for="first-name">First name</label>
                        <input type="text" name="first-name" id="first-name" required>
                    </div>
                    <div class="input-container">
                        <label for="last-name">Last name</label>
                        <input type="text" name="last-name" id="last-name" required>
                    </div>
                </div>
                <input type="hidden" name="signature" id="signature" required>
                <div class="canvas-container">
                    <p><em>Sign here</em></p>
                    <canvas height="50px" width="400px"></canvas>
                </div>
                <button type="submit">Submit</button>
            </div>

            {{!-- Prevent CSRF --}}
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
        </form>
    </div>  
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="script.js"></script>
