<div class="petition-container">  
    <h2>Sign my petition for clinical trials to disaggregate their data by sex!</h2>
    <div class="form-container">
        <form action="" method="POST">
            <div class="inputs">
                <div class="input-container">
                    <label for="first-name">First name</label>
                    <input type="text" name="first-name" id="first-name" required>
                </div>
                <div class="input-container">
                    <label for="last-name">Last name</label>
                    <input type="text" name="last-name" id="last-name" required>
                </div>
            </div>
            <input type="hidden" value="" name="signature" id="signature" required>
            <canvas></canvas>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>  