{{#>register-login}}
<p>Sign my petition if you think it should be the job of all medical trials to disaggregate their data by sex and to include at least 50% of female participants!</p>
{{#if error}}
    <p class="error">{{error}}</p>
{{/if}}
<form method="POST" autocomplete="off">
    <div class="flex flex-column">
        <label for="register-first">First name</label>
        <input type="text" name="register-first" id="register-first" required>
        <label for="register-last">Last name</label>
        <input type="text" name="register-last" id="register-last" required>
        <label for="register-email">Email</label>
        <input type="email" name="register-email" id="register-email" required>
        <label for="register-password">Password</label>
        <input type="password" name="register-password" id="register-password" required>
        <div class="flex flex-column align-center" style="margin-top: 15px">
            <button type="submit" style="margin-top: 0">Sign up</button>
            <a href="/login">Log in</a>
        </div>  
    </div>
<input type="hidden" name="_csrf" value="{{csrfToken}}">
</form>
{{/register-login}}