{{#>register-login}}
<p>Sign my petition to oblige medical trials to disaggregate their data by sex and to include at least 50% of female participants thereby starting solving the problem of the default male norm!</p>
<form method="POST" autocomplete="off">
    <div class="flex flex-column">
        <label for="">First name</label>
        <input type="text">
        <label for="">Last name</label>
        <input type="text">
        <label for="">Email</label>
        <input type="text">
        <label for="">Password</label>
        <input type="text">
        <div class="flex justify-center register-button-container">
            <button type="submit">Sign up</button>
        </div>  
    </div>
<input type="hidden" name="_csrf" value="{{csrfToken}}">
</form>
{{/register-login}}