<div class="flex align-center justify-center bg-goldenrod main-thanks-container">
    <div class="flex flex-column align-center justify-evenly opacity-bg-carmine thanks-container">
        <div class="flex flex-column align-center">
            <img src="power.svg" alt="">
            <h2>Thank you for signing my petition!</h2>
        </div>
        <div class="signature-container">
            <img src="{{signature}}" alt="">
        </div>
        <a href="/signers">See who else signed</a>
    </div>
</div>

