* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Barlow Condensed", sans-serif;
}

a {
    transition-duration: 0.2s;
}

a,
a:active,
a:visited {
    color: #f6f4d2;
}

a:hover {
    opacity: 0.75;
}

label {
    margin-bottom: 5px;
    font-size: 20px;
}

input {
    height: 25px;
    border: 1px solid;
    border-radius: 5px;
    padding: 15px;
    font-size: 15px;
    background-color: #a44a3f;
    color: #f6f4d2;
}

input:focus {
    outline: none;
}

button {
    width: 30%;
    padding: 9px;
    border: 1px solid;
    border-radius: 5px;
    color: #a44a3f;
    background-color: #f6f4d2;
    cursor: pointer;
    font-size: 20px;
    transition-duration: 0.2s;
    margin-bottom: 5px;
    margin-top: 50px;
}

button:focus {
    outline: none;
}

button:hover {
    opacity: 0.75;
}

.error {
    color: #f19c79;
    margin-bottom: 0;
}

/* Colors */

.bg-carmine {
    background-color: #a44a3f;
}

.bg-goldenrod {
    background-color: #f6f4d2;
}

.text-carmine {
    color: #a44a3f;
}

.text-goldenrod {
    color: #f6f4d2;
}

/* Flexbox properties */

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-between {
    justify-content: space-between;
}

/* petition.handlebars styles */

.main-petition-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url(./med2.jpg);
    background-size: cover;
}

.facts-container {
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 35%);
    border-radius: 5px;
    padding: 15px;
    height: 80vh;
    width: 50%;
    max-width: 600px;
    background-color: rgba(246, 244, 210, 0.85);
}

.facts-container h2 {
    text-align: center;
}

.facts-list {
    width: 80%;
}

.facts-list li {
    margin-bottom: 15px;
}

.petition-container {
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 35%);
    border-radius: 5px;
    height: 60%;
    width: 40%;
    max-width: 400px;
    background-color: rgba(164, 74, 63, 0.85);
}

.petition-container h2 {
    text-align: center;
}

.inputs {
    width: 80%;
}

.input-container {
    margin-bottom: 10px;
}

.canvas-container p {
    font-size: 20px;
}

canvas {
    border: 1px dotted;
}

/* thanks.handlebars styles */

.main-thanks-container {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("./med2.jpg");
    background-size: cover;
}

.thanks-container {
    height: 80vh;
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 35%);
    border-radius: 5px;
    width: 60%;
    max-width: 600px;
    background-color: rgba(164, 74, 63, 0.85);
}

.signature-container {
    border: 1px solid;
    padding: 10px;
    border-radius: 5px;
}

/* register.handlebars styles */

.main-register-login-container {
    height: 100vh;
}

.card-container {
    width: 90vw;
    height: 80vh;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 35%);
}

.img-container {
    width: 40%;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.register-login-container {
    width: 60%;
    padding: 15px;
}

.register-login-container form {
    width: 70%;
    max-width: 300px;
    margin-top: 20px;
}

.register-login-container h1 {
    margin-top: 0;
    text-transform: uppercase;
}

.register-login-container h2 {
    text-transform: uppercase;
}

.register-login-container p {
    width: 70%;
    max-width: 300px;
    margin-top: 0;
    text-align: center;
}

.register-button-container {
    margin-top: 15px;
}

#register-button {
    margin-top: 0;
}

/* login.handlebars styles  */

.login-form-container {
    width: 100%;
    height: 100%;
}

.login-form-container form {
    margin-top: 0;
}
