* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #a44a3f;
    color: #f6f4d2;
    font-family: "Barlow Condensed", sans-serif;
}

/* petition.handlebars styles */

.main-petition-container {
    display: flex;
    justify-content: center;
}

.petition-container {
    height: 100vh;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.petition-container h2 {
    text-align: center;
}

.form-container {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.inputs {
    width: 80%;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

label {
    margin-bottom: 5px;
    font-size: 20px;
}

input {
    height: 25px;
    border: 1px solid;
    border-radius: 5px;
    padding: 15px;
    font-size: 15px;
    background-color: #a44a3f;
    color: #f6f4d2;
}

input:focus {
    outline: none;
}

button {
    width: 30%;
    padding: 9px;
    border: 1px solid;
    border-radius: 5px;
    color: #a44a3f;
    background-color: #f6f4d2;
    cursor: pointer;
    font-size: 20px;
    transition-duration: 0.2s;
}

button:focus {
    outline: none;
}

button:hover {
    opacity: 0.75;
}

.canvas-container p {
    font-size: 20px;
}

canvas {
    border: 1px dotted;
}

/* thanks.handlebars styles */

.thanks-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.signature-container {
    border: 1px solid;
    padding: 10px;
    border-radius: 5px;
}

.thanks-message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* register.handlebars styles */

.main-register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f6f4d2;
}

.card-container {
    width: 90vw;
    height: 80vh;
    display: flex;
    background-color: #a44a3f;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 35%);
}

.register-form {
    display: flex;
    flex-direction: column;
}

.img-container {
    width: 40%;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.register-container {
    width: 60%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-container form {
    width: 70%;
    max-width: 300px;
    margin-top: 20px;
}

.register-container h1 {
    margin-top: 0;
    text-transform: uppercase;
}

.register-container h2 {
    text-transform: uppercase;
}

.register-container p {
    width: 70%;
    max-width: 300px;
    margin-top: 0;
    text-align: center;
}

.register-button-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

/* login.handlebars styles  */

.login-form-container {
    width: 100%;
    /* max-width: 300px; */
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.login-form-container form {
    margin-top: 0;
}
